.bg {
    background: url("https://cdn.pixabay.com/photo/2020/09/15/15/56/background-5574027_640.png");
    background-size: cover;
    height: 100vh;
    background-repeat: repeat-y;
    overflow: hidden;
}

.overlay {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.headerContainer {
    padding: 12px;
    border-radius: 12px;
    background-color: beige;
}